Repository CitizenLabDotCo/citizenlab, pull requests merged in 2022-03, with the labels that each got.

#1623 [CL-380] Rename Emails admin sidebar tab to Messaging
  CHANGELOG.md
  front/app/containers/Admin/guide/AdminGuideArticle.tsx
  front/app/containers/Admin/guide/EngageSection.tsx
  front/app/containers/Admin/guide/messages.ts
  front/app/containers/Admin/messaging/AutomatedEmails/index.tsx
  front/app/containers/Admin/messaging/CustomEmails/All/DraftCampaignRow.tsx
  front/app/containers/Admin/messaging/CustomEmails/All/SentCampaignRow.tsx
  front/app/containers/Admin/messaging/CustomEmails/All/index.tsx
  front/app/containers/Admin/messaging/CustomEmails/CampaignForm/index.tsx
  front/app/containers/Admin/messaging/CustomEmails/Edit/index.tsx
  front/app/containers/Admin/messaging/CustomEmails/New/index.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/CampaignStats.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/DraftCampaignDetails.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/PreviewFrame.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/RecipientsTable.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/SentCampaignDetails.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/Stamp.tsx
  front/app/containers/Admin/messaging/CustomEmails/Show/index.tsx
  front/app/containers/Admin/messaging/index.tsx
  front/app/containers/Admin/messaging/messages.ts
  front/app/containers/Admin/messaging/routes.ts
  front/app/containers/Admin/routes.ts
  front/app/containers/Admin/sideBar/index.tsx
  front/app/containers/Admin/sideBar/messages.ts
  front/app/services/permissions/rules/routePermissions.ts
  front/app/translations/admin/ar-SA.json
  front/app/translations/admin/da-DK.json
  front/app/translations/admin/de-DE.json
  front/app/translations/admin/en-CA.json
  front/app/translations/admin/en-GB.json
  front/app/translations/admin/en.json
  front/app/translations/admin/es-CL.json
  front/app/translations/admin/es-ES.json
  front/app/translations/admin/fr-BE.json
  front/app/translations/admin/fr-FR.json
  front/app/translations/admin/hu-HU.json
  front/app/translations/admin/it-IT.json
  front/app/translations/admin/kl-GL.json
  front/app/translations/admin/lb-LU.json
  front/app/translations/admin/mi.json
  front/app/translations/admin/nb-NO.json
  front/app/translations/admin/nl-BE.json
  front/app/translations/admin/nl-NL.json
  front/app/translations/admin/pl-PL.json
  front/app/translations/admin/pt-BR.json
  front/app/translations/admin/ro-RO.json
  front/app/translations/admin/sr-Latn.json
  front/cypress/integration/email_consent.ts
Labels: waiting for translations, structure, Texting MVP

#1652 Cl-382 Texting engine, feature, and resource
  back/Gemfile.lock
  back/app/services/base_side_fx_service.rb
  back/db/migrate/20220308184000_create_texting_campaigns.texting.rb
  back/db/schema.rb
  back/engines/commercial/google_tag_manager/google_tag_manager.gemspec
  back/engines/commercial/texting/.gitignore
  back/engines/commercial/texting/app/controllers/texting/web_api/v1/campaigns_controller.rb
  back/engines/commercial/texting/app/models/texting/campaign.rb
  back/engines/commercial/texting/app/policies/texting/campaign_policy.rb
  back/engines/commercial/texting/app/serializers/texting/web_api/v1/campaign_serializer.rb
  back/engines/commercial/texting/app/services/texting/side_fx_campaign_service.rb
  back/engines/commercial/texting/config/routes.rb
  back/engines/commercial/texting/db/migrate/20220308181809_create_texting_campaigns.rb
  back/engines/commercial/texting/lib/tasks/texting_tasks.rake
  back/engines/commercial/texting/lib/texting.rb
  back/engines/commercial/texting/lib/texting/engine.rb
  back/engines/commercial/texting/lib/texting/feature_specification.rb
  back/engines/commercial/texting/lib/texting/version.rb
  back/engines/commercial/texting/spec/acceptance/campaigns_spec.rb
  back/engines/commercial/texting/spec/factories/texting_campaigns.rb
  back/engines/commercial/texting/texting.gemspec
  back/engines/commercial/user_custom_fields/user_custom_fields.gemspec
  back/engines/free/email_campaigns/app/services/email_campaigns/side_fx_campaign_service.rb
Labels: structure, Texting MVP

#1424 En 145/withoutfilter refactoring
  front/app/components/IdeaCards/IdeasView.tsx
  front/app/components/IdeaCards/IdeasWithFiltersSidebar.tsx
  front/app/components/IdeaCards/IdeasWithoutFiltersSidebar.tsx
  front/app/components/IdeaCards/index.tsx
  front/app/components/IdeasMap/IdeaMapCard.tsx
  front/app/components/IdeasMap/desktop/IdeaMapOverlay.tsx
  front/app/components/IdeasMap/desktop/MapIdeasList.tsx
  front/app/components/IdeasMap/index.tsx
  front/app/containers/ProjectsShowPage/continuous/Ideas.tsx
  front/app/containers/ProjectsShowPage/timeline/Ideas.tsx
  front/cypress/integration/idea_cards.ts
Labels: structure

#1312 Cl2 6952/nem id verification
  back/config/schemas/settings.schema.json.erb
  front/app/components/Verification/verificationModalEvents.ts
  front/app/containers/App/index.tsx
  front/app/containers/App/openSignUpInModalIfNecessary.ts
  front/app/containers/MainHeader/UserMenu/User.tsx
  front/app/containers/MainHeader/UserMenu/index.tsx
  front/app/hooks/useVerificationMethods.ts
  front/app/modules/commercial/id_auth0/components/Auth0Button.tsx
  front/app/modules/commercial/id_auth0/index.tsx
  front/app/modules/commercial/id_bogus/components/BogusButton.tsx
  front/app/modules/commercial/id_bogus/index.tsx
  front/app/modules/commercial/id_bosa_fas/components/BosaFasButton.tsx
  front/app/modules/commercial/id_bosa_fas/index.tsx
  front/app/modules/commercial/id_clave_unica/components/ClaveUnicaButton.tsx
  front/app/modules/commercial/id_clave_unica/index.tsx
  front/app/modules/commercial/id_cow/components/CowButton.tsx
  front/app/modules/commercial/id_cow/components/VerificationFormCOW.tsx
  front/app/modules/commercial/id_cow/index.tsx
  front/app/modules/commercial/id_franceconnect/components/VerificationFranceConnectButton.tsx
  front/app/modules/commercial/id_franceconnect/index.tsx
  front/app/modules/commercial/id_gent_rrn/components/GentRrnButton.tsx
  front/app/modules/commercial/id_gent_rrn/components/VerificationFormGentRrn.tsx
  front/app/modules/commercial/id_gent_rrn/index.tsx
  front/app/modules/commercial/id_id_card_lookup/components/IdCardLookupButton.tsx
  front/app/modules/commercial/id_id_card_lookup/index.tsx
  front/app/modules/commercial/verification/citizen/components/VerificationMethodButton.tsx
  front/app/modules/commercial/verification/citizen/components/VerificationMethods.tsx
  front/app/modules/commercial/verification/citizen/components/VerificationModal.tsx
  front/app/modules/commercial/verification/citizen/components/VerificationSteps.tsx
  front/app/modules/commercial/verification/index.tsx
  front/app/services/verificationMethods.ts
  front/app/utils/moduleUtils.ts
Labels: structure

#1524 Cl 221/error phone email field sign up in
  CHANGELOG.md
  back/app/services/phone_service.rb
  front/app/components/SignUpIn/SignIn/PasswordSignin.tsx
  front/app/components/SignUpIn/SignIn/messages.ts
  front/app/components/SignUpIn/SignUp/PasswordSignup.tsx
  front/app/components/SignUpIn/SignUp/messages.ts
  front/app/translations/en.json
  front/app/utils/validate.ts
Labels: structure

#1676 Tsconfig no unchecked index access streams ts 2
  front/app/utils/streams.ts
Labels: 10%

#1647 CL-456 [FE] Add texting tab when feature active
  front/app/containers/Admin/messaging/index.tsx
  front/app/containers/Admin/messaging/messages.ts
  front/app/containers/Admin/messaging/routes.ts
  front/app/containers/Admin/messaging/texting/index.tsx
  front/app/services/appConfiguration.ts
  front/app/translations/admin/ar-SA.json
  front/app/translations/admin/da-DK.json
  front/app/translations/admin/de-DE.json
  front/app/translations/admin/en-CA.json
  front/app/translations/admin/en-GB.json
  front/app/translations/admin/en.json
  front/app/translations/admin/es-CL.json
  front/app/translations/admin/es-ES.json
  front/app/translations/admin/fr-BE.json
  front/app/translations/admin/fr-FR.json
  front/app/translations/admin/hu-HU.json
  front/app/translations/admin/it-IT.json
  front/app/translations/admin/kl-GL.json
  front/app/translations/admin/lb-LU.json
  front/app/translations/admin/mi.json
  front/app/translations/admin/nb-NO.json
  front/app/translations/admin/nl-BE.json
  front/app/translations/admin/nl-NL.json
  front/app/translations/admin/pl-PL.json
  front/app/translations/admin/pt-BR.json
  front/app/translations/admin/ro-RO.json
  front/app/translations/admin/sr-Latn.json
Labels: waiting for translations, structure, Texting MVP

#1657 CL-376 [FE] Create page to list text messages
  front/app/containers/Admin/messaging/index.tsx
  front/app/containers/Admin/messaging/messages.ts
  front/app/containers/Admin/messaging/routes.ts
  front/app/containers/Admin/messaging/texting/CampaignList/TextCampaignList.tsx
  front/app/containers/Admin/messaging/texting/CampaignList/TextCampaignListRow.tsx
  front/app/containers/Admin/messaging/texting/index.tsx
  front/app/hooks/useTextingCampaigns.ts
  front/app/services/textingCampaigns.ts
  front/app/translations/admin/en.json
Labels: structure, Texting MVP

#1711 Ts config strict editnavbaritemform formik actions
  front/app/modules/commercial/customizable_navbar/admin/containers/EditNavbarItemForm/index.tsx
Labels: ts-config

#1598 Tsconfig no unchecked index access utils
  front/app/services/locale.ts
Labels: ts-config

#1665 Tsconfig no unchecked index access postmanager
  front/app/components/admin/PostManager/PostManager.test.tsx
  front/app/components/admin/PostManager/components/ActionBar/index.tsx
  front/app/components/admin/PostManager/index.tsx
  front/app/containers/Admin/ideas/all/index.tsx
  front/app/containers/Admin/initiatives/manage/index.tsx
  front/app/containers/Admin/projects/edit/ideas/index.tsx
Labels: ts-config

#1694 [CL-377] [CL-378] Texting Campaigns: Page to create/preview new message
  front/app/components/UI/TextArea/index.tsx
  front/app/containers/Admin/messaging/routes.ts
  front/app/containers/Admin/messaging/texting/CampaignList/index.tsx
  front/app/containers/Admin/messaging/texting/NewCampaign/index.tsx
  front/app/containers/Admin/messaging/texting/PreviewMessage/index.tsx
  front/app/containers/Admin/messaging/texting/TextingHeader.tsx
  front/app/hooks/useTextingCampaign.ts
  front/app/services/textingCampaigns.ts
Labels: structure, Texting MVP

#1714 [CL-379] [CL-513] FE page to show sent message/edit draft message
  front/app/containers/Admin/messaging/routes.ts
  front/app/containers/Admin/messaging/texting/CampaignList/TextCampaignListRow.tsx
  front/app/containers/Admin/messaging/texting/NewCampaign/index.tsx
  front/app/containers/Admin/messaging/texting/PreviewMessage/index.tsx
  front/app/containers/Admin/messaging/texting/ViewCreatedMessage/index.tsx
  front/app/containers/Admin/messaging/texting/components/FormattedStatusLabel.tsx
  front/app/containers/Admin/messaging/texting/components/TextingHeader.tsx
  front/app/services/textingCampaigns.ts
Labels: structure, Texting MVP

#1548 Move href setting to module
  front/app/components/SignUpIn/AuthProviderButton.tsx
  front/app/components/SignUpIn/AuthProviders.tsx
  front/app/components/SignUpIn/SignIn/index.tsx
  front/app/components/SignUpIn/SignUp/index.tsx
  front/app/modules/commercial/id_vienna_saml/components/ViennaSamlButton.tsx
  front/app/services/singleSignOn.ts
Labels: structure

#1729 Cl 510/fe validation text messages
  front/app/containers/Admin/messaging/routes.ts
  front/app/containers/Admin/messaging/texting/CampaignList/TextCampaignListRow.tsx
  front/app/containers/Admin/messaging/texting/CreatedSMSCampaignForm/index.tsx
  front/app/containers/Admin/messaging/texting/NewSMSCampaign/index.tsx
  front/app/containers/Admin/messaging/texting/PreviewMessage/index.tsx
  front/app/containers/Admin/messaging/texting/components/RemainingCharacters.tsx
Labels: structure, Texting MVP

#1735 [CL-512] FE UX UI tweaks for MVP
  front/app/containers/Admin/messaging/texting/CampaignList/index.tsx
  front/app/containers/Admin/messaging/texting/CreatedSMSCampaignForm/index.tsx
  front/app/containers/Admin/messaging/texting/NewSMSCampaign/index.tsx
  front/app/containers/Admin/messaging/texting/PreviewMessage/index.tsx
  front/app/containers/Admin/messaging/texting/components/TextingHeader.tsx
Labels: structure, Texting MVP

#1727 CL-512 Switch to table layout
  front/app/containers/Admin/messaging/texting/CampaignList/TextCampaignListRow.tsx
  front/app/containers/Admin/messaging/texting/CampaignList/index.tsx
  front/app/containers/Admin/messaging/texting/components/FormattedStatusLabel.tsx
  front/package-lock.json
Labels: structure, Texting MVP

#1722 Cl 383 send text messages
  back/Gemfile
  back/Gemfile.lock
  back/engines/commercial/texting/app/controllers/texting/web_api/v1/campaigns_controller.rb
  back/engines/commercial/texting/app/jobs/texting/send_campaign_job.rb
  back/engines/commercial/texting/app/models/texting/campaign.rb
  back/engines/commercial/texting/app/policies/texting/campaign_policy.rb
  back/engines/commercial/texting/app/services/texting/phone_number.rb
  back/engines/commercial/texting/app/services/texting/side_fx_campaign_service.rb
  back/engines/commercial/texting/app/services/texting/sms.rb
  back/engines/commercial/texting/app/services/texting/sms/providers/twilio.rb
  back/engines/commercial/texting/config/routes.rb
  back/engines/commercial/texting/lib/texting/feature_specification.rb
  back/engines/commercial/texting/spec/acceptance/campaigns_spec.rb
  back/engines/commercial/texting/spec/factories/texting_campaigns.rb
  back/engines/commercial/texting/spec/services/texting/phone_number_spec.rb
  back/engines/commercial/texting/texting.gemspec
  back/lib/error_reporter.rb
Labels: structure, Texting MVP
