Repository CitizenLabDotCo/citizenlab, pull requests merged in 2022-09, with the labels that each got.

#2613 CL-1427 Convert areas form to RHF
  front/app/components/UI/QuillEditor/FormikQuillMultiloc.tsx
  front/app/containers/Admin/settings/areas/AreaForm/AreaForm.test.tsx
  front/app/containers/Admin/settings/areas/AreaForm/index.tsx
  front/app/containers/Admin/settings/areas/Edit/index.tsx
  front/app/containers/Admin/settings/areas/New/index.tsx
  front/app/containers/Admin/settings/areas/messages.ts
  front/app/translations/admin/en.json
Labels: waiting for translations

#2646 Cl 1429 Idea status form
  front/app/components/HookForm/ColorPicker/ColorPicker.test.tsx
  front/app/components/HookForm/ColorPicker/index.tsx
  front/app/components/UI/Error/index.tsx
  front/app/components/UI/FormikRadio/index.tsx
  front/app/components/UI/FormikTextAreaMultilocWithLocaleSwitcher/index.tsx
  front/app/modules/commercial/custom_idea_statuses/admin/components/IdeaStatusForm.tsx
  front/app/modules/commercial/custom_idea_statuses/admin/components/messages.ts
  front/app/modules/commercial/custom_idea_statuses/admin/containers/edit.tsx
  front/app/modules/commercial/custom_idea_statuses/admin/containers/new.tsx
  front/app/translations/admin/en.json
  front/app/utils/errorUtils.ts
  front/package-lock.json
  front/package.json
Labels: waiting for translations

#2686 [CL-1374] Generic hero banner form
  front/app/containers/Admin/pagesAndMenu/EditHomepage/HeroBanner/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/GenericHeroBannerForm.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/HeaderImageDropzone.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/messages.ts
  front/app/containers/Admin/pagesAndMenu/containers/HeroBanner/HeroBannerForm.test.tsx
  front/app/containers/Admin/pagesAndMenu/routes.tsx
  front/app/containers/LandingPage/SignedOutHeader/FullWidthBannerLayout.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/index.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/LayoutSetting.tsx
  front/app/modules/commercial/customizable_homepage_banner/citizen/TwoColumnLayout.tsx
  front/app/modules/commercial/customizable_homepage_banner/citizen/TwoRowLayout.tsx
  front/app/modules/commercial/customizable_homepage_banner/index.tsx
  front/app/services/customPages.ts
  front/app/utils/moduleUtils.tsx
Labels: structure, Flexible Pages

#2739 [CL-1644] Revert or fix renaming of tenant host before deletion
  back/engines/commercial/admin_api/spec/acceptance/tenants_spec.rb
Labels: bug, structure

#2759 [No ticket] Update DE blocked words
  back/config/blocked_words/de.txt
Labels: structure

#2757 [CL-1641] Refactor page top/bottom info section to react hooks form
  front/app/components/HookForm/SlugInput/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/Attachments/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/CustomPageSettingsForm/index.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/Settings/index.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericBottomInfoSection/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericBottomInfoSection/messages.ts
  front/app/containers/Admin/pagesAndMenu/containers/GenericTopInfoSection/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericTopInfoSection/messages.ts
  front/app/containers/CookiePolicy/CookiePolicy.test.tsx
  front/app/translations/admin/en.json
Labels: structure, Flexible Pages

#2749 CL-1581 Add Citizen Single Sign On for Vienna (StandardPortal, SAML)
  back/engines/commercial/id_vienna_saml/app/lib/id_vienna_saml/citizen_feature_specification.rb
  back/engines/commercial/id_vienna_saml/app/lib/id_vienna_saml/citizen_saml_omniauth.rb
  back/engines/commercial/id_vienna_saml/app/lib/id_vienna_saml/employee_feature_specification.rb
  back/engines/commercial/id_vienna_saml/app/lib/id_vienna_saml/employee_saml_omniauth.rb
  back/engines/commercial/id_vienna_saml/config/initializers/omniauth.rb
  back/engines/commercial/id_vienna_saml/config/saml/citizen/idp_metadata_production.xml
  back/engines/commercial/id_vienna_saml/config/saml/citizen/idp_metadata_test.xml
  back/engines/commercial/id_vienna_saml/config/saml/employee/idp_metadata_production.xml
  back/engines/commercial/id_vienna_saml/config/saml/employee/idp_metadata_test.xml
  back/engines/commercial/id_vienna_saml/lib/id_vienna_saml/engine.rb
  back/engines/commercial/id_vienna_saml/spec/requests/citizen_authentication_spec.rb
  back/engines/commercial/id_vienna_saml/spec/requests/employee_authentication_spec.rb
  front/app/components/SignUpIn/AuthProviders.tsx
  front/app/modules/commercial/id_vienna_saml/components/ViennaSamlButton.tsx
  front/app/modules/commercial/id_vienna_saml/components/messages.ts
  front/app/modules/commercial/id_vienna_saml/index.tsx
  front/app/modules/commercial/id_vienna_saml/services/appConfiguration.ts
  front/app/translations/de-DE.json
  front/app/translations/en.json
Labels: structure

#2774 Use MessageDescriptor from 'react-intl'
  front/app/components/FormattedAnchor/index.tsx
  front/app/components/HelmetIntl/index.tsx
  front/app/components/IdeaButton/index.tsx
  front/app/components/IdeaCards/index.tsx
  front/app/components/InitiativeCards/index.tsx
  front/app/components/PageMeta/index.tsx
  front/app/components/PostShowComponents/SharingModalContent/index.tsx
  front/app/components/ProjectAndFolderCards/components/EmptyContainer.tsx
  front/app/components/ProjectAndFolderCards/components/Topbar/Tabs.tsx
  front/app/components/SignUpIn/SignUp/index.tsx
  front/app/components/UI/CloseIconButton/index.tsx
  front/app/components/UI/FormComponents/index.tsx
  front/app/components/admin/TerminologyConfig/index.tsx
  front/app/containers/Admin/dashboard/overview/charts/SelectableResourceChart.tsx
  front/app/containers/Admin/projects/project/participationContext/index.tsx
  front/app/containers/EventsPage/EventsViewer/EventsMessage.tsx
  front/app/containers/EventsPage/EventsViewer/index.tsx
  front/app/containers/InitiativesShow/VoteControl/ProposedNotVoted.tsx
  front/app/containers/PlatformFooter/index.tsx
  front/app/containers/ProjectsShowPage/shared/poll/index.tsx
  front/app/containers/ProjectsShowPage/shared/survey/index.tsx
  front/app/modules/commercial/insights/admin/containers/Insights/Edit/InputsTable/ScanCategory.tsx
  front/app/modules/commercial/insights/admin/containers/Reports/ProjectReport.tsx
  front/app/modules/commercial/representativeness/admin/components/Field/FieldTitle.tsx
  front/app/modules/commercial/smart_groups/components/UserFilterConditions/FieldSelector.tsx
  front/app/modules/commercial/user_custom_fields/admin/components/CustomFieldGraphs/convertAndMergeSeries.ts
  front/app/typings.ts
  front/app/utils/cl-intl/__mocks__/index.tsx
  front/app/utils/cl-intl/index.tsx
  front/app/utils/cl-intl/injectIntl.tsx
  front/app/utils/i18n.ts
  front/app/utils/moduleUtils.tsx
Labels: structure

#2770 [React-Intl upgrade] useIntl hook
  front/app/components/FormattedAnchor/index.tsx
  front/app/components/PostShowComponents/Comments/CommentsAdminDeletionModal.tsx
  front/app/containers/App/UserDeletedModal/index.tsx
  front/app/containers/UsersEditPage/DeletionDialog.tsx
  front/app/utils/cl-intl/injectIntl.tsx
  front/app/utils/helperUtils.test.ts
  front/app/utils/helperUtils.ts
Labels: structure

#2230 CL-900 Remove unused attributes from json schema + table columns + related code
  back/app/controllers/web_api/v1/app_configurations_controller.rb
  back/app/controllers/web_api/v1/avatars_controller.rb
  back/app/models/app_configuration.rb
  back/app/models/concerns/customizable_homepage_banner_settings.rb
  back/app/serializers/web_api/v1/app_configuration_serializer.rb
  back/app/services/settings_service.rb
  back/app/services/side_fx_app_configuration_service.rb
  back/config/schemas/settings.schema.json.erb
  back/db/migrate/20220831102114_remove_header_bg_and_homepage_info_multiloc_from_app_configurations.rb
  back/db/migrate/20220831142106_remove_header_bg_from_tenants.rb
  back/db/schema.rb
  back/db/seeds/citizenlab.rb
  back/engines/commercial/admin_api/app/controllers/admin_api/tenants_controller.rb
  back/engines/commercial/admin_api/app/serializers/admin_api/tenant_serializer.rb
  back/engines/commercial/admin_api/spec/acceptance/tenants_spec.rb
  back/spec/acceptance/app_configurations_spec.rb
  back/spec/acceptance/avatars_spec.rb
  back/spec/acceptance/home_pages_spec.rb
  back/spec/factories/app_configurations.rb
Labels: structure, Flexible Pages

#2659 CL-1428 User groups form
  front/app/components/PageForm/index.tsx
  front/app/components/UI/Error/index.tsx
  front/app/components/UI/FormikInputMultilocWithLocaleSwitcher/index.tsx
  front/app/components/UI/MultipleSelect/index.tsx
  front/app/components/admin/FormikSubmitWrapper/index.tsx
  front/app/components/admin/FormikSubmitWrapper/messages.ts
  front/app/containers/Admin/users/NormalGroupForm.test.tsx
  front/app/containers/Admin/users/NormalGroupForm.tsx
  front/app/containers/Admin/users/UsersGroup.tsx
  front/app/containers/Admin/users/index.tsx
  front/app/containers/Admin/users/messages.ts
  front/app/modules/commercial/smart_groups/components/UserFilterConditions/ValueSelector/DateValueSelector.tsx
  front/app/modules/commercial/smart_groups/components/UserFilterConditions/index.tsx
  front/app/modules/commercial/smart_groups/containers/RulesGroupFormWithValidation/RulesGroupForm.tsx
  front/app/modules/commercial/smart_groups/containers/RulesGroupFormWithValidation/index.tsx
  front/app/modules/commercial/smart_groups/containers/RulesGroupFormWithValidation/messages.ts
  front/app/modules/commercial/smart_groups/index.tsx
  front/app/translations/admin/ar-MA.json
  front/app/translations/admin/ar-SA.json
  front/app/translations/admin/da-DK.json
  front/app/translations/admin/de-DE.json
  front/app/translations/admin/en-CA.json
  front/app/translations/admin/en-GB.json
  front/app/translations/admin/en.json
  front/app/translations/admin/es-CL.json
  front/app/translations/admin/es-ES.json
  front/app/translations/admin/fr-BE.json
  front/app/translations/admin/fr-FR.json
  front/app/translations/admin/hr-HR.json
  front/app/translations/admin/hu-HU.json
  front/app/translations/admin/it-IT.json
  front/app/translations/admin/kl-GL.json
  front/app/translations/admin/lb-LU.json
  front/app/translations/admin/mi.json
  front/app/translations/admin/nb-NO.json
  front/app/translations/admin/nl-BE.json
  front/app/translations/admin/nl-NL.json
  front/app/translations/admin/pl-PL.json
  front/app/translations/admin/pt-BR.json
  front/app/translations/admin/ro-RO.json
  front/app/translations/admin/sr-Latn.json
  front/app/translations/admin/sv-SE.json
  front/app/translations/admin/tr-TR.json
  front/app/translations/en.json
  front/app/typings.ts
  front/app/utils/moduleUtils.tsx
  front/package-lock.json
  front/package.json
Labels: waiting for translations

#2818 [CL-900] Fix feature flag check for customizable homepage banner
  front/app/modules/commercial/customizable_homepage_banner/index.tsx
Labels: structure, Flexible Pages

#2820 Revert "[CL-900] Fix feature flag check for customizable homepage banner"
  front/app/modules/commercial/customizable_homepage_banner/index.tsx
Labels: structure, Flexible Pages

#2822 [CL-900] Replace enabled feature flags and related BE code
  back/config/schemas/settings.schema.json.erb
  back/db/seeds/citizenlab.rb
  back/spec/factories/app_configurations.rb
Labels: structure, Flexible Pages

#2814 [CL-1619] Additional hero banner form validations
  front/app/containers/Admin/pagesAndMenu/EditHomepage/HeroBanner/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/CTAButtonFields/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/CTAButtonFields/messages.ts
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/messages.ts
Labels: structure, Flexible Pages

#2823 [CL-900] Replace currently_working_on_text attribute
  back/config/schemas/settings.schema.json.erb
Labels: structure, Flexible Pages

#2828 Hero banner cta settings unified
  front/app/components/LandingPageComponents/admin/CTARadioButtons.tsx
  front/app/components/LandingPageComponents/admin/messages.ts
  front/app/components/UI/Error/index.tsx
  front/app/components/UI/Error/messages.ts
  front/app/containers/Admin/pagesAndMenu/EditHomepage/HeroBanner/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/CTAButtonFields.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/CTAButtonFields/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/messages.ts
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/messages.ts
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings.test.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/CTASignedInSettings.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/CTASignedOutSettings.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/CustomizedButtonSettings.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/SettingRadioButtons.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/SettingsLabel.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/CTASettings/index.tsx
  front/app/modules/commercial/customizable_homepage_banner/admin/messages.ts
  front/app/modules/commercial/customizable_homepage_banner/index.tsx
  front/app/modules/commercial/insights/index.tsx
  front/app/translations/admin/en.json
  front/app/translations/en.json
  front/cypress/e2e/admin/pages_and_menu/update_hero_banner_content.cy.ts
Labels: structure, Flexible Pages

#2824 [CL-1619] Hero banner unit tests
  front/app/containers/Admin/pagesAndMenu/EditHomepage/HeroBanner/index.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/HeroBanner/index.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/AvatarsField.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/AvatarsField.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/BannerHeaderFields.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/BannerImageFields.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/GenericHeroBannerForm.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/HeaderImageDropzone.test.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/HeaderImageDropzone.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericHeroBannerForm/LayoutSettingField/LayoutSettingField.test.tsx
Labels: structure, Flexible Pages

#2829 [CL-1752] Fix update homepage content test
  front/app/containers/Admin/pagesAndMenu/containers/GenericBottomInfoSection/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/GenericTopInfoSection/index.tsx
  front/cypress/e2e/admin/pages_and_menu/update_homepage_content.cy.ts
Labels: structure, Flexible Pages
