Repository CitizenLabDotCo/citizenlab, pull requests merged in 2022-08, with the labels that each got.

#2480 CL-1189 add Turkish
  CHANGELOG.md
  back/config/blocked_words/tr.txt
  back/config/initializers/1_locales.rb
  front/app/containers/App/constants.js
  front/app/containers/App/constants.ts
  front/app/i18n/tr-TR.ts
Labels: structure

#2465 [CL-5] e2e test fixes
  front/cypress/e2e/admin/pages_and_menu/update_hero_banner_content.cy.ts
  front/cypress/e2e/admin/pages_and_menu/update_homepage_content.cy.ts
  front/cypress/support/commands.ts
Labels: structure, Flexible Pages

#2499 [CL-1295] Fix img serializer for info sections of home_page model
  back/app/controllers/web_api/v1/home_pages_controller.rb
  back/app/models/home_page.rb
  back/app/serializers/web_api/v1/home_page_serializer.rb
  back/app/services/side_fx_home_page_service.rb
Labels: structure, Flexible Pages

#2510 [CL-1152] Create custom_pages table + related join tables + related model(s)
  back/app/controllers/web_api/v1/files_controller.rb
  back/app/models/custom_page.rb
  back/app/models/custom_page_file.rb
  back/app/policies/custom_page_file_policy.rb
  back/app/uploaders/custom_page_file_uploader.rb
  back/db/migrate/20220808135654_create_custom_pages.rb
  back/db/migrate/20220809141825_create_custom_page_files.rb
  back/db/schema.rb
  back/spec/factories/custom_pages.rb
  back/spec/models/custom_page_file_spec.rb
  back/spec/models/custom_page_spec.rb
Labels: structure, Flexible Pages

#2536 [CL-1152] Add :code field to custom_pages
  back/app/models/custom_page.rb
  back/db/migrate/20220808135654_create_custom_pages.rb
  back/db/schema.rb
  back/spec/factories/custom_pages.rb
Labels: structure, Flexible Pages

#2544 CL-1152 Edit custom_pages db table and model
  back/app/models/custom_page.rb
  back/db/migrate/20220808135654_create_custom_pages.rb
  back/db/schema.rb
  back/spec/factories/custom_pages.rb
Labels: structure, Flexible Pages

#2585 CL-1424 Custom field option
  front/app/modules/commercial/user_custom_fields/admin/containers/CustomFields/RegistrationCustomFieldEdit/RegistrationCustomFieldOptionsEdit.tsx
  front/app/modules/commercial/user_custom_fields/admin/containers/CustomFields/RegistrationCustomFieldEdit/RegistrationCustomFieldOptionsForm.tsx
  front/app/modules/commercial/user_custom_fields/admin/containers/CustomFields/RegistrationCustomFieldEdit/RegistrationCustomFieldOptionsNew.tsx
  front/app/modules/commercial/user_custom_fields/admin/containers/CustomFields/messages.ts
  front/app/translations/admin/en.json
Labels: waiting for translations

#2587 CL-1152 Extend static_page model and db table
  back/app/controllers/web_api/v1/static_pages_controller.rb
  back/app/models/static_page.rb
  back/app/policies/static_page_policy.rb
  back/app/serializers/web_api/v1/static_page_serializer.rb
  back/app/services/side_fx_home_page_service.rb
  back/app/services/side_fx_static_page_service.rb
  back/config/tenant_templates/base.yml
  back/config/tenant_templates/e2etests_template.yml
  back/db/migrate/20220822140950_add_fields_and_rename_field_in_static_pages.rb
  back/db/schema.rb
  back/db/seeds/citizenlab.rb
  back/engines/commercial/admin_api/app/graphql/admin_api/types/page_type.rb
  back/engines/commercial/admin_api/spec/graphql/pages_spec.rb
  back/engines/commercial/customizable_navbar/spec/acceptance/static_pages_spec.rb
  back/spec/acceptance/static_pages_spec.rb
  back/spec/factories/static_pages.rb
  back/spec/models/static_page_spec.rb
  back/spec/services/side_fx_home_page_spec.rb
  back/spec/services/side_fx_static_page_spec.rb
Labels: structure, Flexible Pages

#2569 [CL-1372] Skeleton for create custom page form (and hook form)
  front/app/components/HelmetIntl/index.tsx
  front/app/components/PageForm/index.tsx
  front/app/components/UI/Breadcrumbs/index.tsx
  front/app/components/admin/SlugInput/SlugInput.test.tsx
  front/app/components/admin/SlugInput/index.tsx
  front/app/containers/Admin/pagesAndMenu/components/SectionFormWrapper.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/CustomPageSettingsForm.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/New/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/messages.ts
  front/app/containers/Admin/pagesAndMenu/routes.tsx
  front/app/containers/Admin/projects/project/general/index.tsx
  front/app/modules/commercial/customizable_navbar/admin/components/PageFormWithNavbarNameField.tsx
  front/app/modules/commercial/customizable_navbar/admin/containers/index.tsx
  front/app/modules/commercial/customizable_navbar/admin/containers/messages.ts
  front/app/modules/commercial/project_folders/admin/containers/settings/ProjectFolderForm.tsx
  front/app/services/customPages.ts
  front/app/translations/admin/en.json
  front/app/utils/textUtils.ts
Labels: structure, Flexible Pages

#2588 Cl 1443/create custom page tabs
  CHANGELOG.md
  front/app/components/admin/TabbedResource/Tab.tsx
  front/app/components/admin/TabbedResource/index.tsx
  front/app/containers/Admin/ideas/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/Content/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/Settings/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/New/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/messages.ts
  front/app/containers/Admin/pagesAndMenu/index.tsx
  front/app/containers/Admin/pagesAndMenu/routes.tsx
  front/app/translations/admin/en.json
  front/app/typings.ts
Labels: structure, Flexible Pages

#2622 Cl 1430/custom topics form
  front/app/modules/commercial/custom_topics/admin/containers/TopicsSettings/Edit/index.tsx
  front/app/modules/commercial/custom_topics/admin/containers/TopicsSettings/New/index.tsx
  front/app/modules/commercial/custom_topics/admin/containers/TopicsSettings/TopicForm/TopicForm.test.tsx
  front/app/modules/commercial/custom_topics/admin/containers/TopicsSettings/TopicForm/index.tsx
  front/app/modules/commercial/custom_topics/admin/containers/TopicsSettings/messages.ts
  front/app/modules/commercial/customizable_navbar/admin/components/NavbarItemForm.test.tsx
  front/app/modules/commercial/customizable_navbar/admin/components/NavbarItemForm.tsx
  front/app/translations/admin/en.json
Labels: waiting for translations

#2657 1444 page settings tab
  front/app/components/HookForm/SlugInput/index.tsx
  front/app/components/HookForm/SlugInput/messages.ts
  front/app/containers/Admin/pagesAndMenu/NavbarItemRow/index.tsx
  front/app/containers/Admin/pagesAndMenu/NavigationSettings/VisibleNavbarItemList/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/CustomPageSettingsForm.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/Edit/Settings/index.tsx
  front/app/containers/Admin/pagesAndMenu/containers/CustomPages/New/CustomPagesNew.tsx
  front/app/modules/commercial/customizable_navbar/admin/containers/NavigationSettings/HiddenNavbarItemList/index.tsx
  front/app/modules/commercial/customizable_navbar/admin/containers/NavigationSettings/VisibleNavbarItemList/index.tsx
  front/app/translations/en.json
Labels: structure, Flexible Pages
