Repository CitizenLabDotCo/citizenlab, pull requests merged in 2024-02, with the labels that each got.

#6908 [TAN-1000] Remove two redundant map related admin_api serializers
  back/engines/commercial/admin_api/app/serializers/layer_serializer.rb
  back/engines/commercial/admin_api/app/serializers/map_config_serializer.rb
Labels: esri-integration

#6907 [TAN-948] Replace Event map with new ArcGIS SDK
  front/app/components/EsriMap/constants.tsx
  front/app/components/EsriMap/index.tsx
  front/app/components/EsriMap/utils.tsx
  front/app/containers/Admin/projects/project/events/components/EventMap.tsx
  front/app/containers/Admin/projects/project/events/components/map.tsx
  front/app/containers/Admin/projects/project/events/edit.tsx
  front/app/containers/Admin/projects/project/events/messages.ts
  front/app/containers/EventsShowPage/components/MetadataInformation/Location.tsx
  front/app/containers/EventsShowPage/components/MetadataInformation/LocationMap.tsx
  front/app/translations/admin/ar-SA.json
  front/app/translations/admin/da-DK.json
  front/app/translations/admin/de-DE.json
  front/app/translations/admin/en-CA.json
  front/app/translations/admin/en-GB.json
  front/app/translations/admin/en.json
  front/app/translations/admin/es-CL.json
  front/app/translations/admin/es-ES.json
  front/app/translations/admin/fr-BE.json
  front/app/translations/admin/fr-FR.json
  front/app/translations/admin/hr-HR.json
  front/app/translations/admin/lv-LV.json
  front/app/translations/admin/nb-NO.json
  front/app/translations/admin/nl-BE.json
  front/app/translations/admin/nl-NL.json
  front/app/translations/admin/pl-PL.json
  front/app/translations/admin/pt-BR.json
  front/app/translations/admin/sr-Latn.json
  front/app/translations/admin/sr-SP.json
  front/app/translations/admin/sv-SE.json
  front/app/translations/admin/tr-TR.json
  front/cypress/e2e/events/event_show_page.cy.ts
  front/doc/dependency_decisions.yml
  front/package-lock.json
  front/package.json
Labels: waiting for translations

#6859 [TAN-943] Add layer_type and url to map_layers
  back/app/services/project_copy_service.rb
  back/config/schemas/settings.schema.json.erb
  back/config/tenant_templates/e2etests_template.yml
  back/db/migrate/20240130170644_add_type_and_layer_url_to_maps_layers.custom_maps.rb
  back/db/structure.sql
  back/engines/commercial/custom_maps/app/controllers/custom_maps/web_api/v1/layers_controller.rb
  back/engines/commercial/custom_maps/app/models/custom_maps/esri_feature_layer.rb
  back/engines/commercial/custom_maps/app/models/custom_maps/geojson_layer.rb
  back/engines/commercial/custom_maps/app/models/custom_maps/layer.rb
  back/engines/commercial/custom_maps/app/serializers/custom_maps/web_api/v1/esri_feature_layer_serializer.rb
  back/engines/commercial/custom_maps/app/serializers/custom_maps/web_api/v1/geojson_layer_serializer.rb
  back/engines/commercial/custom_maps/app/serializers/custom_maps/web_api/v1/layer_serializer.rb
  back/engines/commercial/custom_maps/app/serializers/custom_maps/web_api/v1/map_config_serializer.rb
  back/engines/commercial/custom_maps/db/migrate/20240125113316_add_type_and_layer_url_to_maps_layers.rb
  back/engines/commercial/custom_maps/spec/acceptance/map_configs_spec.rb
  back/engines/commercial/custom_maps/spec/acceptance/map_layers_spec.rb
  back/engines/commercial/custom_maps/spec/factories/layers.rb
  back/engines/commercial/custom_maps/spec/factories/map_configs.rb
  back/engines/commercial/custom_maps/spec/models/esri_feature_layer_spec.rb
  back/engines/commercial/custom_maps/spec/models/geojson_layer_spec.rb
  back/engines/commercial/custom_maps/spec/models/layer_spec.rb
  back/engines/commercial/multi_tenancy/app/services/multi_tenancy/templates/serializers/custom_maps/layer.rb
  back/engines/commercial/multi_tenancy/db/seeds/custom_maps.rb
  back/engines/commercial/multi_tenancy/lib/tasks/core/create_tenant.rake
  front/app/api/analysis_insights/useAnalysisInsights.ts
  front/app/modules/commercial/custom_maps/admin/containers/ProjectCustomMapConfigPage/GeoJsonImportButton.tsx
  front/app/modules/commercial/custom_maps/admin/containers/ProjectCustomMapConfigPage/addOrderingToLayers.ts
  front/app/modules/commercial/custom_maps/api/map_layers/__mocks__/mapLayerData.ts
  front/app/modules/commercial/custom_maps/api/map_layers/types.ts
  front/app/modules/commercial/custom_maps/api/map_layers/useAddMapLayer.test.ts
Labels: esri-integration

#6941 Voting results: progress bar changes
  front/app/api/phases/types.ts
  front/app/containers/ProjectsShowPage/timeline/VotingResults/ProgressBar.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/ProgressBar/BudgetingProgressBar.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/ProgressBar/ProgressBarWrapper.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/ProgressBar/VotingProgressBar.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/ProgressBar/index.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/ProgressBar/messages.ts
  front/app/containers/ProjectsShowPage/timeline/VotingResults/Results.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/VotingResultCard.tsx
  front/app/containers/ProjectsShowPage/timeline/VotingResults/messages.ts
  front/app/translations/ar-MA.json
  front/app/translations/ar-SA.json
  front/app/translations/ca-ES.json
  front/app/translations/da-DK.json
  front/app/translations/de-DE.json
  front/app/translations/el-GR.json
  front/app/translations/en-CA.json
  front/app/translations/en-GB.json
  front/app/translations/en.json
  front/app/translations/es-CL.json
  front/app/translations/es-ES.json
  front/app/translations/fr-BE.json
  front/app/translations/fr-FR.json
  front/app/translations/hr-HR.json
  front/app/translations/it-IT.json
  front/app/translations/kl-GL.json
  front/app/translations/lb-LU.json
  front/app/translations/lv-LV.json
  front/app/translations/nb-NO.json
  front/app/translations/nl-BE.json
  front/app/translations/nl-NL.json
  front/app/translations/pl-PL.json
  front/app/translations/pt-BR.json
  front/app/translations/sr-Latn.json
  front/app/translations/sr-SP.json
  front/app/translations/sv-SE.json
  front/app/translations/tr-TR.json
Labels: waiting for translations

#7030 [No-ticket] Reorder migrations after merging master + re-migrate
  back/db/migrate/20240215170108_change_map_configs_project_id_to_mappable_reference.custom_maps.rb
  back/db/structure.sql
  back/engines/commercial/custom_maps/app/models/custom_maps/map_config.rb
  back/engines/commercial/custom_maps/db/migrate/20240215165946_change_map_configs_project_id_to_mappable_reference.rb
Labels: native survey mapping q

#7037 Fix follow email settings copy
  back/engines/free/email_campaigns/config/locales/en.yml
Labels: waiting for translations

#7002 Tan 967/new project phase toggle turns on by default
  back/engines/free/email_campaigns/app/services/email_campaigns/side_fx_campaign_service.rb
  back/engines/free/email_campaigns/spec/acceptance/campaigns_spec.rb
  front/app/api/phases/types.ts
  front/app/containers/Admin/messaging/AutomatedEmails/CampaignRow.tsx
  front/app/containers/Admin/messaging/AutomatedEmails/NewProjectPhaseModal/index.tsx
  front/app/containers/Admin/messaging/AutomatedEmails/NewProjectPhaseModal/messages.ts
  front/app/containers/Admin/messaging/AutomatedEmails/PhaseEmailSettingsModal/index.tsx
  front/app/containers/Admin/messaging/AutomatedEmails/PhaseEmailSettingsModal/messages.ts
  front/app/containers/Admin/projects/project/index.tsx
  front/app/containers/Admin/projects/project/timeline/edit.tsx
  front/app/translations/admin/ar-SA.json
  front/app/translations/admin/ca-ES.json
  front/app/translations/admin/da-DK.json
  front/app/translations/admin/de-DE.json
  front/app/translations/admin/el-GR.json
  front/app/translations/admin/en-CA.json
  front/app/translations/admin/en-GB.json
  front/app/translations/admin/en.json
  front/app/translations/admin/es-CL.json
  front/app/translations/admin/es-ES.json
  front/app/translations/admin/fr-BE.json
  front/app/translations/admin/fr-FR.json
  front/app/translations/admin/hr-HR.json
  front/app/translations/admin/it-IT.json
  front/app/translations/admin/lv-LV.json
  front/app/translations/admin/nb-NO.json
  front/app/translations/admin/nl-BE.json
  front/app/translations/admin/nl-NL.json
  front/app/translations/admin/pl-PL.json
  front/app/translations/admin/pt-BR.json
  front/app/translations/admin/sr-Latn.json
  front/app/translations/admin/sr-SP.json
  front/app/translations/admin/sv-SE.json
  front/app/translations/admin/tr-TR.json
Labels: waiting for translations

#7100 [TAN-1161] Survey results downloads with mapping question
  back/app/models/custom_field.rb
  back/app/services/idea_custom_fields_service.rb
  back/app/services/xlsx_export/value_visitor.rb
  back/engines/commercial/bulk_import_ideas/app/services/bulk_import_ideas/import_project_ideas_service.rb
  back/engines/commercial/bulk_import_ideas/spec/services/import_project_ideas_service_spec.rb
  back/spec/models/custom_field_spec.rb
  back/spec/services/idea_custom_fields_service_spec.rb
  back/spec/services/xlsx_export/value_visitor_spec.rb
  front/app/containers/Admin/projects/components/PDFExportModal/messages.ts
  front/app/translations/admin/ar-SA.json
  front/app/translations/admin/da-DK.json
  front/app/translations/admin/de-DE.json
  front/app/translations/admin/en-CA.json
  front/app/translations/admin/en-GB.json
  front/app/translations/admin/en.json
  front/app/translations/admin/es-CL.json
  front/app/translations/admin/es-ES.json
  front/app/translations/admin/fi-FI.json
  front/app/translations/admin/fr-BE.json
  front/app/translations/admin/fr-FR.json
  front/app/translations/admin/hr-HR.json
  front/app/translations/admin/lv-LV.json
  front/app/translations/admin/nb-NO.json
  front/app/translations/admin/nl-BE.json
  front/app/translations/admin/nl-NL.json
  front/app/translations/admin/pl-PL.json
  front/app/translations/admin/pt-BR.json
  front/app/translations/admin/sr-Latn.json
  front/app/translations/admin/sr-SP.json
  front/app/translations/admin/sv-SE.json
  front/app/translations/admin/tr-TR.json
Labels: waiting for translations, native survey mapping q
