Repository CitizenLabDotCo/citizenlab, pull requests merged in 2024-03, with the labels that each got.

#7088 TAN-823 - Explain survey demographic collection
  front/app/components/FormBuilder/edit/index.tsx
  front/app/components/FormBuilder/utils.tsx
  front/app/containers/Admin/projects/project/nativeSurvey/AccessRightsNotice/index.tsx
  front/app/containers/Admin/projects/project/nativeSurvey/AccessRightsNotice/messages.ts
  front/app/containers/Admin/projects/project/nativeSurvey/utils.tsx
  front/app/translations/admin/en.json
Labels: ready to release

#7052 TAN-831 - Copy surveys
  back/app/controllers/web_api/v1/phases_controller.rb
  back/app/models/custom_field.rb
  back/app/models/phase.rb
  back/app/serializers/web_api/v1/phase_serializer.rb
  back/app/services/idea_custom_fields_service.rb
  back/app/services/side_fx_phase_service.rb
  back/engines/commercial/idea_custom_fields/app/controllers/idea_custom_fields/web_api/v1/admin/idea_custom_fields_controller.rb
  back/engines/commercial/idea_custom_fields/config/routes.rb
  back/engines/commercial/idea_custom_fields/spec/acceptance/idea_custom_fields/custom_field_options.spec.rb
  back/engines/commercial/idea_custom_fields/spec/acceptance/idea_custom_fields/phase_context/update_all_native_survey_spec.rb
  back/lib/participation_method/base.rb
  back/lib/participation_method/ideation.rb
  back/lib/participation_method/native_survey.rb
  back/spec/acceptance/phase_custom_fields_spec.rb
  back/spec/acceptance/phases_spec.rb
  back/spec/lib/participation_method/native_survey_spec.rb
  back/spec/models/phase_spec.rb
  cl2-component-library/package-lock.json
  front/app/api/custom_fields/types.ts
  front/app/api/phases/types.ts
  front/app/components/FormBuilder/components/FormBuilderToolbox/index.tsx
  front/app/components/FormBuilder/edit/index.tsx
  front/app/containers/Admin/projects/project/nativeSurvey/CopySurveyModal/index.tsx
  front/app/containers/Admin/projects/project/nativeSurvey/CopySurveyModal/messages.ts
  front/app/containers/Admin/projects/project/nativeSurvey/SurveyFormBuilder/index.tsx
  front/app/containers/Admin/projects/project/nativeSurvey/index.tsx
  front/app/containers/Admin/projects/project/nativeSurvey/messages.ts
  front/app/containers/Admin/projects/project/nativeSurvey/utils.test.ts
  front/app/containers/Admin/projects/project/nativeSurvey/utils.tsx
  front/app/translations/admin/en.json
Labels: ready to release

#7265 [TAN-1254] Include mapConfigId: in survey_results response
  back/app/services/survey_results_generator_service.rb
  back/spec/services/survey_results_generator_service_spec.rb
Labels: native survey mapping q

#7269 No-ticket Add mapConfigId to survey results
  back/app/services/survey_results_generator_service.rb
  back/spec/services/survey_results_generator_service_spec.rb
Labels: native survey mapping q

#7234 TAN-1244 New duplicate_map_config_and_layers endpoint
  back/engines/commercial/custom_maps/app/controllers/custom_maps/web_api/v1/map_configs_controller.rb
  back/engines/commercial/custom_maps/app/policies/custom_maps/map_config_policy.rb
  back/engines/commercial/custom_maps/config/routes.rb
  back/engines/commercial/custom_maps/spec/acceptance/map_configs_spec.rb
Labels: native survey mapping q

#7255 TAN-1249 - Survey submission to phase fixes
  front/app/containers/IdeasNewPage/IdeasNewSurveyForm/index.tsx
  front/app/containers/IdeasNewPage/components/SurveyNotActiveNotice.tsx
  front/app/containers/IdeasNewPage/components/messages.ts
  front/app/containers/IdeasNewPage/index.tsx
  front/app/translations/en.json
Labels: waiting for translations

#7339 [No-ticket] Use new survey results attributes + fix related test
  back/app/services/survey_results_generator_service.rb
  back/spec/services/survey_results_generator_service_spec.rb
Labels: native survey mapping q

#7309 [TAN-1096] Do not copy Phase baskets_count or votes_count when copying a Project within a platform
  back/app/services/project_copy_service.rb
  back/spec/services/local_project_copy_service_spec.rb
Labels: bug
